.left {
    /* border: 2px solid blue; */
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 10px;
    text-align: center;
}

.left img {
    width: 80px;
    height: 80px;
}

/* .left div{
    text-align: center;
} */
.mid {
    display: block;
    width: 800px;
    margin: 10px auto;
    border: 2px solid rgb(167, 0, 245);
    background-color: rgb(12, 12, 19);
    border-radius: 40px;
}

.search {
    float: right;
    color: aliceblue;
    padding: 5px 20px;
}

.navbar input {
    border: 2px solid black;
    border-radius: 15px;
    padding: 3px 20px;
    width: 150px;
}

.right {
    border: 2px solid green;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 10px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}

.navbar li {
    display: inline-block;
    font-size: 18px;

}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 24px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: gray;
}

/* .btn{
    margin: 0px 9px;
    border: 2px solid rgb(57 226 87);
    background-color: black;
    color: white;
    padding: 3px 4px;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: gray;
} */
.log {

    display: inline-block;
    position:absolute;
    top: 0px;
    left: 1270px;
}

.log li {
    
    list-style: none;
    border: 2px solid rgb(167, 10, 245);
    border-radius: 20px;
    padding: 4px;
    margin: 6px;
    margin-left: -20px
}

.logb {
    color: rgb(255, 255, 255);
    background: none;
    border: none;
}

.logb:hover {
    text-decoration: underline;
    background: rgb(188, 30, 228);
}

#login {
    padding-left: 8px;
    padding-right: 9px;
}

.search {
    padding-top: 0px;
    /* padding-left: 80px; */
}
.p{
    color: rgb(255, 255, 255);
    text-align: center;
}